/* GENERAL STYLES */

html {
	background: 
}

p {
	margin: 15px;
}

/* FONTS */

body {
	font-size: 16px;
	font-family: "avenir";
}
h1,h2,h3,h4,h5 {
	font-family: "bangla-sangam-mn";
}

/* MEDIA STYLES */

img {
	width: 100%;
}

section#person-practices div.media-wrapper img {
	width: 100px;
	float: right;
	margin-left: 30px;
}

div.video-container {
	position: relative;
	width: 100%;
}

div.video-container iframe {
	position: absolute;
	top: 0; left: 0;
	margin-left: 15px;
	width: 80%;
	height: 80%;
}

/* GRID */

body {
  margin: 40px;
}

.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }


    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 120px 120px 120px;
        grid-template-areas:
    "....... header header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}