/* GENERAL STYLES */

html {
	background: 
}

p {
	margin: 15px;
}

/* FONTS */

body {
	font-size: 16px;
	font-family: "avenir";
}
h1,h2,h3,h4,h5 {
	font-family: "bangla-sangam-mn";
}

/* MEDIA STYLES */

img {
	width: 100%;
}

section#person-practices div.media-wrapper img {
	width: 100px;
	float: right;
	margin-left: 30px;
}

div.video-container {
	position: relative;
	width: 100%;
}

div.video-container iframe {
	position: absolute;
	top: 0; left: 0;
	margin-left: 15px;
	width: 80%;
	height: 80%;
}

/* GRID */

.grid {
	display: grid;
	grid-template-columns: 200px 200px 200px;
}