/* GENERAL STYLES */

html {
	background: 
}

p {
	margin: 15px;
}

/* FONTS */

body {
	font-size: 16px;
	font-family: "avenir";
}
h1,h2,h3,h4,h5 {
	font-family: "verdana";
	font-size: 22px;
}

/* MEDIA STYLES */

img {
	width: 100%;
}

section#personal-practices div.media-wrapper img {
	width: 100px;
	float: right;
	margin-left: 30px;
}

div.video-container {
	position: relative;
	width: 100%;
}

div.video-container iframe {
	position: absolute;
	top: 0; left: 0;
	margin-left: 15px;
	width: 80%;
	height: 80%;
}

/* GRID */ /* MAKE CHANGES */

section#introduction,
section#personal-practices,
section#social-practices,
section#conclusion,

header, footer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media screen and (min-width:1080px) {
	section#personal-practices {
		grid-template-columns: 40% 1fr;
	}
	
	section#social-practices {
		grid-template-columns: 1fr 40%;
	}
}

@media screen and (max-width: 670px) {
	section#social-practices div.content-wrapper{
		grid-row: 2;
		grid-column: 1;
	}
	
	section#social div.media-wrapper{
		grid-row: 1;
		grid-column: 1;
	}
}

/* SECTION STYLES */

section#introduction div,
section#person-practices div,
section#social-practices div,
section#conclusion div {
	min-height: 350px;
	padding-bottom: 50px;
	padding-top: 50px;
}

section#introduction div.content-wrapper {
	margin-left: 15px
}

section#personal-practices div.content-wrapper {
	margin-right: 15px;
}

section#social-practices div.content-wrapper {
	margin-left: 15px;
}

section#conclusion div.content-wrapper {
	margin-right: 15px;
}

div.media-wrapper {
	align-self: center;
}

/* HEADER STYLES */

header {
	height: 450px;
}

header h1 {
	margin: 30px;
	text-align: left;
}

header h2 {
	margin: 30px;
	text-align: right;
}

header h3 {
	margin: 30px;
	text-align: right;
}

header h4 {
	margin: 30px;
	text-align: left;
}

header h5 {
	margin: 30px;
	text-align: right;
}
