/* GENERAL STYLES */

html {

	background: radial-gradient(#ffffff, #ffafb7);
}

p {
	
	margin: 15px;
}

/* FONTS */

body {
	font-family: "avenir";
	font-size: 16px;
}

h1 {
	font-family: "verdana";
	font-size: 30px;
}

h2,h3,h4,h5,h6 {
	font-family: "verdana";
	font-size: 24px;
}

/* MEDIA STYLES */

img {
	width: 100%;
}

section#personal-practices div.media-wrapper img {
	width: 450px;
	float: left;
	margin-left: 15px;
}

div.video-container {
	position: relative;
	width: 100%;
}

div.video-container iframe {
	position: absolute;
	top: 0; left: 0;
	margin-left: 15px;
	width: 80%;
	height: 80%;
}

/* GRID */

section#introduction {
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

section#personal-practices {
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

section#social-practices {
  display:grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

section#social-practices div.video-container {
	grid-column: 2;
}

section#conclusion {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 1fr
}

@media screen and (min-width: 670px)

/* SECTION STYLES */

section#introduction div,
section#person-practices div,
section#social-practices div,
section#conclusion div {
	min-height: 350px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 30px;
	padding-left: 30px;
}

section#introduction div {
	margin-left: 15px;
	text-align: left;
}

section#personal-practices div.content-wrapper {
	margin-left: 15px;
	text-align: left;
}

section#social-practices div.content-wrapper {
	margin-left: 15px;
	text-align: left;
}

section#conclusion div {
	margin-left: 15px;
	text-align: left;
}

div.media-wrapper {
	align-self: center;
}

/* HEADER STYLES */

header {
	height: 100px;
	width: 450px;
	text-align: left;
}

h1 {
	margin: 30px;
	text-align: left;
}

h2 {
	margin: 30px;
	text-align: left;
}

h3 {
	margin: 30px;
	text-align: left;
}

h4 {
	margin: 30px;
	text-align: left;
}

h5 {
	margin: 30px;
	text-align: left;
}

h6 {
	margin: 30px;
	text-align: left;
}
